@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
} 

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #1f2937; /* Dark background for the track */
  border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: #4b5563; /* Gray color for the thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 2px solid #1f2937; /* Padding around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* Lighter gray on hover */
}

@keyframes draw-checkmark {
  0% {
    stroke-dashoffset: 100;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-draw-checkmark {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  opacity: 0;
  animation: draw-checkmark 0.8s ease-out forwards;
  animation-delay: 1s;
}

.animate-circle {
  opacity: 0;
  animation: fade-in 0.3s ease-out forwards;
  animation-delay: 1s;
} 